@media (min-width: 320px) {
  body {
    background-color: #58b1e7;
  }
  #clock {
    color: #fff;
    font-size: 195px;
    background-color: #000;
    padding: .5em 0em;
    width: 80%;
    margin: 0px auto;
    font-family: helvetica;
    text-align: center;
  }
  #banner {
    color: #fefefe;
    font-size: 50px;
    text-align: center;
    background-color: #eb6c52;
    margin: 10% auto 0%;
    font-family: helvetica;
    text-align: left;
    text-transform: uppercase;
  }
  span {
    margin-left: 175px;
  }
}

@media (min-width: 568px) {

}

@media (min-width: 667px) {

}

@media (min-width: 736px) {

}

@media (min-width: 822px) {

}

@media (min-width: 1022px) {

}

@media (min-width: 1272px) {

}

@media (min-width: 1356px) {

}

@media (min-width: 1420px) {

}
